html {
  scroll-behavior: smooth;
}

.img-fluid {
    padding-left: inherit;
}

.jumbocolour {
    color: #383d41;
    background-color: #fafafa;
    border-color: #d6d8db;
}

.navigation {
    padding: 0 0 0 0;
}

.img-fluid {
    margin-left: 10;
}

.alert-secondary {
    background: #d1ecf1;
}